.flex-continer{
    display: flex;
    align-items: center;
}

.upper-icon{
    height: 30px;
    background-color: #A5C926;
}

.container-header{
    height: 30px;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.how-contact{
    height: 30px;
    width: 300px;
    justify-content: space-between;
    color: #FFFFFF;
}

.social-network{
    height: 30px;
    width: 130px;
    justify-content: space-between;
}

.social-network-icon{
    height: 14px;
    width: 14px;
}

.lower-nav{
    height: 70px;
}

.nav-left-container{
    width: 100px;
}

.nav-left{
    display: inline-block;
    width: 100px;
}

.nav-container{
    width: 100%;
    justify-content: space-between;
    color: black;
}

.nav-page{
    width: 380px;
    height: 40px;
    justify-content: space-between;
}
  
.nav-page-items-container{
    width: 60px;
}

.nav-page-items{
    display: inline-block;
    width: 60px;
}

.first-child{
    margin-left: 20px;
}

.last-child{
    margin-right: 20px;
}

.cart-page{
    width: 110px;
    justify-content: space-between;
    color: black;
}

.circle{
    height: 20px;
    width: 20px;
    background-color: #A5C926;
    border-radius: 10px;
    justify-content: center;
    color: #fff;
}

.greeting-container{
    height: 640px;
    background: url(../image/greeting_first.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.card-G{
    height: 310px;
    width: 570px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A5C926;
}

.card-G > p:first-child{
    margin:45px 0 20px 0;
}

.container-for-text{
    height: 100px;
    width: 420px;
    color: #000000;
    margin-bottom: 20px;
}

.oval{
    width: 150px;
    height: 50px;
    background-color: #A5C926;
    border-radius: 50px;
    color: #fff;
}

.shop {
    height: fit-content; 
    padding: 80px 50px;
}
  
.content {
    width: 100%; 
    height: fit-content; 
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between; 
    gap: 40px;
}
  
.container {
    position: relative;
    min-width: 570px;
    height: 260px; 
    width: calc((100% - 40px) / 2); 
    display: flex;
    align-items: flex-end;
}

.shop-renctangle{
    min-width: 570px;
    height: 180px; 
    width: 100%;
    border-radius: 20px;
    background-color: #FFC12C;
}

.container:last-child .shop-renctangle{
    background-color: #FB416B;
}

@media (max-width: 1279px) {
    .container {
        width: 100%; 
    }
}

.shop-image{
    height: 220px;
    width: 220px;
    z-index:1;
}

.absolute-container{
    position: absolute;
    height: 225px;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57.5%);
    align-items: flex-end;
}

.group-with-button{
    width: 215px;
    height: 85px;
    color: #fff;
    margin: 0  30px 12px 30px;
    text-align: left;
}

.group-with-button-left{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 85px;
}

.button-shop-frame{
    width: 100px;
    height: 40px;
    background-color: #fff;
    color: black;
    border-radius: 20px;
    margin-top: 5px;
    justify-content: center;
}

.various-menu{
    height: fit-content; 
}

.container-various-menu{
    padding: 0 50px;
}

.content-various-menu{
    padding: 50px 0;
}

.upper-frame{
    height: 70px;
}

.upper-content{
    height: 68px;
    width: 100%;
    text-align: left;
    margin: 0 10px;
    justify-content: space-between;
}

.group-see-content{
    width: 100px;
    height: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px
}

.group-see-content-between{
    width: 100px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

.progress-bar{
    height: 2px;
    margin: 0 10px;
}

.progress-bar-green{
    height: 2px;
    width: 160px;
    background-color:#A5C926;
}

.progress-bar-gray{
    height: 2px;
    width: 100%;
    background-color: #E5E5E5;
}

.select-card{
    width: 100%; 
    height: fit-content; 
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between; 
    gap: 20px;
    padding: 35px 0;
}

.group-two-card{
    min-width: 580px;
    height: 350px;
    width: calc((100% - 20px) / 2); 
    gap: 20px;
}

@media (max-width: 1279px) {
    .group-two-card {
        width: 100%; 
    }
}

.various-card{
    height: 330px;
    width: calc((100% - 40px) / 2);
    background-color: #fff;
    margin: 0 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content-various-card{
    height: 270px;
    width: 180px;
    margin: 40px calc((100% - 180px) / 2) 20px calc((100% - 180px) / 2);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image{
    height: 180px;
    width: 180px;
    margin-bottom: 30px;
}

.card-button-buy{
    width: 90px;
    height: 30px;
    border-radius: 30px;
    background-color: #A5C926;
    justify-content: center;
    color: white;
    margin-top: 10px;
}

.greeting-container-2background{
    background: url(../image/Greeting_second.svg);    
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.content-text{
    height: 150px;
    color: black;
    margin-top: 30px;
}

p.margin-for-the-all{
    margin: 24px 0;
}

.button-play{
    height: 60px;
    width: 60px;
    background-color: #A5C926;
    border-radius: 15px;
    justify-content: center;
    margin: 35px 0 35px 0;
}

.button-play-image{
    height: 15px;
    width: 15px;
    margin-left: 2.5px;
}

.free-valibale{
    height: 730px;
    width: 100%;
}

.free-valibale-container{
    padding: 50px;
    height: 630px;
    flex-direction: column;
    justify-content: center;
}

.upper-free-container{
    width: 100%;
    height: 200px;
    justify-content: center;
}

.upper-free-content{
    height: 130px;
    width: 450px;
    text-align: center;
    color: #A5C926;
}

p.margin-for-free-upper{
    margin-top: 15px;
    color: black;
}

.lower-free-content{
    width: 100%;
    height: 430px;
    justify-content: center;
    margin: 0 2.5%;
    gap: 70px
}

.free-valible-image-group{
    height: 350px;
    width: calc((100% - 70px - 5%) / 2);
    display: grid;
    grid-template-rows: repeat(35, minmax(0, 1fr));
    grid-auto-flow: dense;
}


.free-valible-image{
    height: 430px;
    width: calc((100% - 70px  - 5%) / 2);
    border-radius: 15px;
    object-fit: cover;
}

p.margin-lower-up-left-content{
    text-align: left;
    grid-row: 2;
}

.progress-bar-green-free{
    height: 2px;
    width: 80px;
    background-color:#A5C926;
    grid-row: 6;
}

p.margin-lower-center-left-content{
    color: #999999;
    text-align: left;
    grid-row: 9;
}

.oval-margin-lower-button{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 27;
}

.subscribe{
    height: fit-content;
    padding: 20px 50px;
}

.subscribe-container{
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subscribe-content{
    min-width: 580px;
    height: 90px;
    width: calc((100% - 20px) /2);
    background-color: none;
    justify-content: center;
}

@media (max-width: 1279px) {
    .subscribe-content {
        width: 100%; 
    }
}

.subscribe-group{
    width: 380px;
    height: 60px;
    justify-content: space-between;
}

.button-play-subscribe{
    height: 60px;
    width: 60px;
    background-color: #A5C926;
    justify-content: center;
    border-radius: 10px;
}

.button-play-image-subscribe{
    height: 20px;
    width: 20px;
}

.subscribe-for-text{
    width: 300px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.subscribe-text-element{
    width: fit-content;
}

.subscribe-text-element-color{
    width: fit-content;
    margin-left: 20px;
    color: #A5C926;
}

.subscribe-gray-sign{
    height: 46px;
    width: 275px;
    background-color: #F8F8F8;
    border-radius: 24px;
    border: 2px solid #E5E5E5;
}

.subscribe-green-sign{
    height: 50px;
    width: 90px;
    background-color: #A5C926;
    border-radius: 24px;
    color: white;
    justify-content: center;
}

.have-instagram{
    height: fit-content;
    padding: 50px 40px;
}

.have-instagram-container{
    height: fit-content;
    flex-direction: column;
}

.instagram-text{
    height: 70px;
    width: 340px;
    justify-content: space-between;
    margin: 40px 0 30px 0;
    flex-direction: column;
}

.picture-instagram{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    gap: 30px;
}

.picture-instagram-card{
    min-width: 570px;
    height: 170px;
    width: calc((100% -20px - 30px)/2);
    justify-content: center;
    margin: 10px 0;
}

@media (max-width: 1279px) {
    .picture-instagram-card {
        width: 100%; 
    }
}

.image-instagram{
    height: 170px;
    width: 170px;
}

.center-image-instagram{
    margin: 0 30px;
}

.instagram-button{
    height: 50px;
    width: 170px;
    background-color: #A5C926;
    border-radius: 24px;
    justify-content: center;
    color: white;
    margin: 30px 0 40px 0;
}
