.text-OS-11{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    line-height: 16px;
    margin: 0;
}

.text-VR-21{
    font-family: 'Varela Round', sans-serif;
    font-weight: 100;
    font-size: 21px;
    line-height: 32px;
    vertical-align: bottom;
    margin: 0;
}

.text-OS-14{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
